<div class="dropdown-weight">
  <button class="dropdown-weight-toggle" type="button" id="weightDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    משקל
    <img src="{{ 'dropdown-icon.png' | asset_url }}" alt="Dropdown Icon" class="dropdown-weight-icon" />
  </button>
  <div class="dropdown-weight-menu" aria-labelledby="weightDropdown">
    {% for weight in weights.value %}      
    <div class="dropdown-item-weight" onclick="filterByweight('{{ weight }}')">
      <div class="dropdown-weight-icons" dir="ltr">
        <span>{{ weight.value }} {{ weight.unit }} </span>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>

<style>
  .dropdown-weight {
    position: relative;
    display: inline-block;
  }
  .dropdown-weight-toggle {
    font-family:  'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #E3E0DA;
    border: 1px solid #30303033;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 159px;
    height: 40px;
  }
  .dropdown-weight-menu {
    display: none;
    position: absolute;
    background-color: #E3E0DA;
    width: 112px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 2;
  }
  .dropdown-weight:hover .dropdown-weight-menu {
    display: block;
  }
  .dropdown-item-weight {
    padding: 10px;
    cursor: pointer;
  }
  .dropdown-weight-icons {
    display: flex;
    align-items: center;
    text-align: right;
  }
  .dropdown-weight-icon {
    width: 12px;
  }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    // Select the first item from the dropdown
    const firstItem = document.querySelector('.dropdown-item-weight');
    if (firstItem) {
      // Get the text from the first item
      const firstItemText = firstItem.querySelector('span').innerText.trim();
      
      // Set the dropdown button text to the first item's text
      document.getElementById('weightDropdown').childNodes[0].nodeValue = firstItemText;
      
      // Mark the first item as selected
      firstItem.classList.add('selected');
    }
  });

  function filterByweight(variant) {
    // Close the dropdown
    document.querySelector('.dropdown-weight-menu').style.display = 'none';

    // Show the selected variant in the button
    document.getElementById('weightDropdown').childNodes[0].nodeValue = variant;
  }

  // Ensure the dropdown can be toggled
  document.getElementById('weightDropdown').addEventListener('click', function() {
    var dropdownMenu = document.querySelector('.dropdown-weight-menu');
    if (dropdownMenu.style.display === 'block') {
      dropdownMenu.style.display = 'none';
    } else {
      dropdownMenu.style.display = 'block';
    }
  });
</script>