<div class="dropdown-quantity">
  <button class="dropdown-quantity-toggle" type="button" id="quantityDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    1
    <img src="{{ 'dropdown-icon.png' | asset_url }}" alt="Dropdown Icon" class="dropdown-wieght-icon" />
  </button>
  <div class="dropdown-quantity-menu" aria-labelledby="quantityDropdown">
    {% for size in quantity.value %}       
    <div class="dropdown-quantity-item" onclick="filterByvariant('{{ size }}')">
      <div class="dropdown-quantity-icons">
        <span>{{ size }}</span>
      </div>
    </div>
    {% endfor %}
  </div>
  </div>

<style>
  .dropdown-quantity {
    position: relative;
    display: inline-block;
  }
  .dropdown-quantity-toggle {
    font-family:  'Noto Sans', sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #E3E0DA;
    border: 1px solid #303030;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 70px;
    height: 40px;
  }
  .dropdown-quantity-menu {
    display: none;
    position: absolute;
    background-color: #E3E0DA;
    width: 70px;
    box-shadow: 0 8px 16px rgba(0,0,0,0.2);
    z-index: 2;
  }
  .dropdown-quantity:hover .dropdown-quantity-menu {
    display: block;
  }
  .dropdown-quantity-item {
    padding: 10px;
    cursor: pointer;
  }
  .dropdown-quantity-icons {
    display: flex;
    align-items: center;
  }
  .dropdown-quantity-icon {
    width: 12px;
  }
</style>

<script>
  function filterByvariant(quantity) {
    // Close the dropdown
    document.querySelector('.dropdown-quantity-menu').style.display = 'none';

    // Show the selected variant in the button
    document.getElementById('quantityDropdown').childNodes[0].nodeValue = quantity;
  }

  // Ensure the dropdown can be toggled
  document.getElementById('quantityDropdown').addEventListener('click', function() {
    var dropdownMenu = document.querySelector('.dropdown-quantity-menu');
    if (dropdownMenu.style.display === 'block') {
      dropdownMenu.style.display = 'none';
    } else {
      dropdownMenu.style.display = 'block';
    }
  });
</script>