 <style>
    .product-taste-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 30px;
      width: 100%;
      margin-bottom: 20px;
      font-family: 'Noto Sans', sans-serif;
      font-weight: 300;
      font-size: 12px;
      position: relative;
    }
    .product-taste-earth,
    .product-taste-sweet-chocolate,
    .product-taste-sweet,
    .product-taste-fruity-sweet,
    .product-taste-fruity {
      height: 5px;
      width: 65px;
      padding: 2px 7px;
    }
    .product-taste-earth {
      background-color: #1b4f72;
    }
    .product-taste-sweet-chocolate {
      background-color: #8b4513;
    }
    .product-taste-sweet {
      background-color: #d60540;
    }
    .product-taste-fruity-sweet {
      background-color: #c4823e;
    }
    .product-taste-fruity {
      background-color: #ffdf70;
    }
    .highlighted {
      border: 2px solid black;
      transform: scale(1.2);
    }

    .taste-indicator {
      position: absolute;
      width: 14px;
      height: 14px;
      border-radius: 50%;
      border: 2px solid #E3E0DA;
      box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
      transition: left 0.3s ease-in-out;
    }

    .taste-indicator.earth { left: 79%; background-color: #1b4f72; } /* Left */
    .taste-indicator.Sweet-Chocolate { left: 64%; background-color: #8b4513; } /* 25% */
    .taste-indicator.Sweet { left: 49%; background-color: #d60540; } /* Middle */
    .taste-indicator.Fruity-Sweet { left: 34%; background-color: #c4823e; } /* 75% */
    .taste-indicator.Fruity { left: 19%; background-color: #ffdf70; } /* Right */
  </style>
  <div class="product-taste-wrapper" dir="rtl">
    <div class="product-taste-earth">אדמתי</div>
    <div class="product-taste-sweet-chocolate"> </div>
    <div class="product-taste-sweet">מתקתק</div>
    <div class="product-taste-fruity-sweet"> </div>
    <div class="product-taste-fruity">פירותי</div>
  
    <div class="taste-indicator {{ taste }}"> </div>
  </div>