<div class="dropdown">
  <button
    class="dropdown-toggle"
    type="button"
    id="variantDropdown"
    data-toggle="dropdown"
    aria-haspopup="true"
    aria-expanded="false">
    טחינה
    <img
      src="{{ 'dropdown-icon.png' | asset_url }}"
      alt="Dropdown Icon"
      class="dropdown-wieght-icon" />
  </button>

  <div class="dropdown-menu" aria-labelledby="variantDropdown">
    {% for size in grind_size %}
      <div class="dropdown-item" onclick="filterByvariant('{{ size }}'); selectGrind('{{ size }}')">
        <div class="dropdown-icons">
          <span>{{ size }}</span>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

<style>
  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-toggle {
    font-family: 'Noto Sans'
    , sans-serif;
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;
    padding: 8px 16px;
    cursor: pointer;
    background-color: #E3E0DA;
    border: 1px solid #30303033;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    width: 110px;
    height: 40px;
    color: #1C201D;
  }
  .dropdown-menu {
    display: none;
    /* position: absolute; */
    background-color: #E3E0DA;
    /* width: 112px; */
    /* box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); */
    z-index: 2;
  }


  /*
   .dropdown:hover .dropdown-menu {
   display: block;
   }
*/
  .dropdown-item {
    padding: 10px;
    cursor: pointer;
  }
  .dropdown-icons {
    display: flex;
    align-items: center;
  }
  .dropdown-wieght-icon {
    width: 12px;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Select the first item from the dropdown
    const firstItem = document.querySelector('.dropdown-item');
    if (firstItem) {
      // Get the text from the first item
      const firstItemText = firstItem.querySelector('span').innerText.trim();
      
      // Set the dropdown button text to the first item's text
      document.getElementById('variantDropdown').childNodes[0].nodeValue = firstItemText;
      
      // Mark the first item as selected
      firstItem.classList.add('selected');
    }
  });

  function filterByvariant(variant) {
    // Close the dropdown
    document.querySelector('.dropdown-menu').style.display = 'none';

    // Show the selected variant in the button
    document.getElementById('variantDropdown').childNodes[0].nodeValue = variant;
  }

  // Ensure the dropdown can be toggled
  document.getElementById('variantDropdown').addEventListener('click', function() {
    var dropdownMenu = document.querySelector('.dropdown-menu');
    if (dropdownMenu.style.display === 'block') {
      dropdownMenu.style.display = 'none';
    } else {
      dropdownMenu.style.display = 'block';
    }
  });
</script>