{{ 'about-us.css' | asset_url | stylesheet_tag }}
<div class="about-us-wrapper">
    <div class="about-us-title">מי אנחנו?</div>
    <div class="about-us-content">
        ברוכים הבאים! אנחנו ממש שמחים לראות אתכם כאן. אנחנו צוות קטן של חובבי קפה מושבעים. כמוכם, גם אנחנו חיפשנו במשך תקופה ארוכה את הקפה המיוחד והאיכותי, זה שבאמת ידבר אל החיך שלנו ויהפוך כל לגימה לחוויה. אנחנו מאמינים שקפה הוא עולם שלם, ותמיד נהנים לחקור טעמים חדשים, סוגי קלייה מפתיעים, ולהתענג על כל מה שיש לעולם הקפה המופלא להציע. מהחיפוש והתשוקה הזו, נולד הרעיון שלנו: להקים מרחב ידידותי ונגיש שיאפשר לכל אחד ואחת לגלות בקלות טעמים חדשים ומיוחדים בעולם הקפה. אנו מאמינים גדולים בעשייה מקומית ובתמיכה בעסקים קטנים. לכן, החלטנו להתמקד אך ורק בקפה מקלייה מקומית טרייה, היישר מבתי קלייה קטנים ואיכותיים – מקומות שבהם קפה הוא לא רק משקה, אלא אומנות ותשוקה. הבחירה הזו מבטיחה שכל קפה שתזמינו מאיתנו יהיה ברמה הגבוהה ביותר, טרי ומשובח, ובמקביל, יעניק תמיכה חשובה ליוצרים ולעסקים המקומיים (ולא למפעלי ענק מעבר לים). אנחנו מזמינים אתכם להצטרף אלינו למסע גילויים בעולם הקפה וליהנות מחוויה ארומטית וטעימה. מקווים שתמצאו כאן את הקפה המושלם עבורכם!
    </div>
</div>