{{ 'about-us.css' | asset_url | stylesheet_tag }}
<div class="about-us-wrapper">
    <div class="about-us-title">מי אנחנו?</div>
    <div class="about-us-image">
        <img src="https://cdn.shopify.com/s/files/1/0701/9151/3657/files/roman_levin_beans.jpg?v=1747343009" alt="About Us Image" class="about-us-img" >
    </div>
    <div class="about-us-content">
        {{ page.content }}
    </div>
</div>