
{{ 'credibility-text.css' | asset_url | stylesheet_tag }}

    <div class="credibility-text-description-details-wrapper">
        <div class="credibility-text-description-divider">
            <hr  class="credibility-text-description-divider-line"/>
            <img class="credibility-text-description-divider-img" src="{{ 'credibility-text-icon.png' | asset_url }}" alt="Divider" />
        </div>
        <div class="credibility-text">
אנחנו אוהבים לטעום קפה חדש, לגלות טעמים מיוחדים ולייצר חוויות חדשות.<br/> צאו איתנו למסע לגלות את בתי הקלייה הטובים בישראל – חלקם כבר כאן וניתן להזמין מהם בקלות קפה מיוחד ואיכותי עד הבית.
        </div>
    </div>