{{ 'credibility-icons.css' | asset_url | stylesheet_tag }}
    <div class="credibility-icons-divider-line-wrapper">
        <hr class="credibility-icons-divider-line"/>
    </div>
<div class="credibility-icons-wrapper">

    <div class="credibility-icons-item">
        <img class="credibility-icons-img" src="{{ 'credibility-icon-beans.png' |  asset_url }}" alt=""/>
        <div class="credibility-icons-text">פולים באיכות פרימיום</div>
    </div>
        <div class="credibility-icons-item">
        <img class="credibility-icons-img" src="{{ 'credibility-icon-home.png' |  asset_url }}" alt=""/>
        <div class="credibility-icons-text">קלייה מקומית כחול-לבן</div>
    </div>
        <div class="credibility-icons-item">
        <img class="credibility-icons-img" src="{{ 'credibility-icon-shipping.png' |  asset_url }}" alt=""/>
        <div class="credibility-icons-text">משלוחים לכל הארץ</div>
    </div>
    
</div>
<div class="credibility-icons-divider-line-wrapper">
    <hr  class="credibility-icons-divider-line"/>
</div>