
{{ 'credibility-text.css' | asset_url | stylesheet_tag }}

    <div class="credibility-text-description-details-wrapper">
        <div class="credibility-text-description-divider">
            <hr  class="credibility-text-description-divider-line"/>
            <img class="credibility-text-description-divider-img" src="{{ 'credibility-text-icon.png' | asset_url }}" alt="Divider" />
        </div>
        <div class="credibility-text">אנחנו מאמינים שכל אחד ראוי לחוות את הקסם שבכוס קפה מושלמת. יצאנו למסע לגלות את בתי הקלייה הייחודיים של ישראל - אומנים אמיתיים שמקדישים את חייהם ליצירת קפה יוצא דופן, ולהנגיש אותם לכל חובב קפה בצורה קלה.</div>
    </div>