{{ 'privacy-policy.css' | asset_url | stylesheet_tag }}
<div class="privacy-wrapper">
    <div class="privacy-title">מדיניות פרטיות</div>
    <div class="privacy-content" dir="rtl">
        שימושך באתר הינו בכפוף לתנאי השימוש ומדיניות הפרטיות ולתקנון האתר.
<p>
***הכתוב מטה מתייחס באופן שווה לכל מין ומגדר, ומנוסח בלשון זכר מטעמי נוחות בלבד***
שימושך באתר והסכמה לתנאיו
</p>
<p>
מסמך זה מרכז עבורך את תנאי השימוש ואת מדיניות הפרטיות באתר (להלן יחד "המדיניות"). על מנת להציג ולהסביר את נוהגי החברה ביחס לפרטיות המשתמשים באתר, וכיצד משתמשת החברה במידע, הנמסר לה על-ידי המשתמשים באתר או הנאסף על-ידה בעת השימוש באתר. תשומת ליבך כי כל שימוש באתר זה, או באתרים או שירותים המקושרים או זמינים דרכו, מהווה את הסכמתך לתנאי המדיניות.
</p>
<p>
החברה שומרת לעצמה את הזכות לשנות, למחוק ו/או להוסיף על תנאי מתנאי המדיניות בכל עת וללא התחייבות למתן הודעה מוקדמת או בדיעבד, לכן מומלץ להתעדכן מעת לעת במדיניות הנהוגה. ככל ואינך מסכים לתנאי המדיניות, כולם או חלקם, אנא הימנע משימוש באתר.
</p>
<p>
קישורים שעשויים להיות מוצגים באתר זה, לאתרים חיצוניים או אחרים, מוצגים לנוחיותך בלבד. כל הסתמכות על אתרים אלו או על תוכנם, שימוש בהם או מסירת פרטים דרכם, הינה באחריות המשתמש בלבד ובהתאם לתנאי השימוש, תקנון, ומדיניות הפרטיות של אותם אתרים, בנפרד ובאופן בלתי תלוי מתנאי מדיניות אלו.
</p>
<p>
יובהר כי, החברה שומרת לעצמה את הזכות להסיר מהאתר בכל עת קישורים המופיעים בו, או להימנע מהוספת קישורים חדשים, הכל לפי שיקול דעתה המוחלט.
</p>
<p>
בעת שימוש באתר נאסף מידע על המשתמש. המדובר במידע שהמשתמש מוסר ביודעין, מידע סטטיסטי ומצטבר. המשתמש מצהיר ומאשר בזאת כי המידע שמסר ו/או ייאסף אודותיו במסגרת התקשרותו עם החברה יישמר במאגר המידע של החברה ויעשה בנתונים אלו שימוש בהתאם למטרות המאגר.
</p>


מדיניות פרטיות, איסוף מידע ושמירתו
</br>
<p>
החברה מכבדת את פרטיותך ומחויבת לשמור על כללי הגנת הפרטיות המקובלים בישראל. שימוש במידע אישי אשר יימסר על-ידך או ייאסף אודותיך ייעשה אך ורק בהתאם למפורט במדיניות פרטיות זו או על-פי חובות החלות כלפי החברה לפי כל דין .
</p>
<p>
'מידע אישי' במדיניות פרטיות זו, משמעו כל מידע מזהה אודותייך אשר יימסר או ייאסף אודותייך במסגרת השימוש באתר החברה, לצורך רישום לשירותים המוצעים דרך האתר, וכן כל מידע מזהה אודותייך אשר ייאסף אודות אופן השימוש שלך באתר במהלך הפעלתו.
</p>
<p>
חלק מהשירותים הניתנים במסגרת השימוש באתר טעונים הרשמה ו/או מסירת מידע אישי באופן ישיר על-ידך, למשל:
</p>
<p>
במקרה שבו תרצה להצטרף למועדון החברים של החברה, תתבקש להזין פרטי מזהים ואישיים כגון שמך, כתובת המגורים, דרכי ההתקשרות ואף פרטים נוספים כמופיע בדף הרישום.
</p>
<p>
כך גם לצורך עדכון פרטי חבר המועדון, או לצורך בירור יתרת הנקודות של חבר מועדון. לצורך שירותים אלו תידרש להזין את מס' תעודת הזהות, את מס' הטלפון ואת מס' כרטיס החבר של חבר המועדון.
</p>
<p>
החברה רשאית לאסוף וכן לעשות שימוש במידע שנמסר על ידך או ו/או נאסף אודותיך, כדוגמת הרגלי הצריכה וההתנהגות שלך, לרבות במהלך השימוש באתר ו/או בשירותים המוצעים דרכו (להלן יחד "המידע הנאסף") או במסגרת חברותך מועדון הלקוחות, על מנת לשפר, להעשיר או לשנות (לרבות שינוי של האתר המוצג למשתמש) את האתר, את השירותים והתכנים המוצעים באתר כך שיתאמו בצורה מיטבית את העדפותיך. כמו כן, החברה עשויה לעשות שימוש במידע למטרות תפעוליות, שיווקיות וסטטיסטיות לשם קידום מטרות מועדון הלקוחות.
</p>
<p>
כמו כן, ייתכן שרישום לשירות מסוים דרך האתר, לרבות למועדון הלקוחות של החברה או לרשימות דיוור או לכל עניין אחר, הזמינים או נגישים דרך האתר, יידרוש את הסכמתך ואישורך לתנאי אותו שירות, ובמקרה זה תידרש לאשר את הסכמתך בנפרד בעמוד/שירות זה.
</p>
<p>
הינך מסכים כי המידע שנמסר על-ידך ו/או ייאסף אודותיך יישמר במאגרי המידע של XXXXXXXXXXX לצורך ניהול וייעול השירות והקשר עמך, לצרכים תפעוליים, שיווקיים וסטטיסטיים, לרבות עיבוד המידע ודיוור ישיר לצורך מימוש מטרות אלו וכן עידוד נאמנות ומתן שירותים למשתמשים ולחברי מועדון, ולהבטחת פעילות מסחר הוגנת על פי חוק.
</p>
בהתאם להסכמתך, ככל שתתקבל לפי דין, החברה תהא רשאית לפנות אליך מעת לעת בדיוור ישיר לצורך קבלת עדכונים, מתכונים, הצעות למוצרים ו/או שירותים, מבצעים וקידומי מכירות, באמצעות דואר אלקטרוני, מסרונים (SMS), פקסימיליה, מערכת חיוג אוטומטית ו/או בטלפון, וזאת כל עוד לא נתקבלה הודעה אחרת ממך בכל עת. במידה ותרצה לחזור בך מהסכמתך, אנא פנה אל החברה באמצעות כתובת המייל המופיעה מטה בצירוף בקשתך ופרטייך המזהים.
מובהר כי אינך מחויב למסור את הפרטים המפורטים לעיל על פי דין, ומסירתם תלויה אך ברצונך ובהסכמתך החופשיים, על מנת לקבל את שירותי החברה המבוקשים, לא תהיה לך כל טענה ו/או תביעה כלפי החברה ונציגיה בנושא. עם זאת, תשומת ליבך כי ללא מסירת פרטים מסוימים (למשל, ללא הזנת פרטים מזהים בעת הצטרפות למועדון הלקוחות) לא נוכל לספק את השירותים המוצעים, חלקם או כולם.
יש למסור מידע ו/או לעדכן באתר מידע נכון, אמין ומדויק, רק בשמך ועבור עצמך, ולא בשם ו/או עבור צדדים שלישיים, למעט במקרים בהם הורשית לעשות כן, במפורש ובכתב. לחברה אין אחריות באשר לנכונות המידע ולאיכות אמינותו ולא תתכן תלונת הצדדים כלפיה.
האתר משתמש בכלים אוטומטיים לצורך אפיון השימוש שלך באתר ושיפור חווית הגולש, באמצעות איסוף נתונים בלתי מזוהים. כלים אלו אוספים מידע כללי אודותיך ואודות השימוש שלך באתר. מידע זה כולל, בין היתר, גם את פרטי ספק שירותי האינטרנט שלך, כתובתך בפרוטוקול האינטרנט (כתובת IP) ושם המתחם לצורך גישה לאתר, מיקום המכשיר בו נעשה שימוש בגישה לאתר, זמני ואופני השימוש באתר, סוג הדפדפן שלך ופרטים אנונימיים נוספים המעידים על אופן השימוש באתר.
בנוסף, החברה עושה שימוש בקבצי מידע הנקראים "קוקיס" (Cookies). קבצים אלו מסייעים לעקוב אחר העדפות המבקרים ולשפר את חווית השימוש באתר. כך למשל, הקוקיס מאפשרים לשמור את הפרטים שהזנת לטפסים השונים ובכך חוסכים ממך את זמן מילוי הפרטים בשנית בביקורך הבא, או מזהים מתכונים מועדפים עליך על מנת להציג לך המלצות וטיפים המתאימים לך. המידע בעוגיות מוצפן, והחברה נוקטת צעדי זהירות כדי להבטיח שרק מחשבי החברה או מי מטעמה יוכלו לקרוא ולהבין את המידע האגור בהם.
השירותים עשויים לעשות שימוש אף בעוגיות צד ג' – למשל עוגיות של חברת Google כגון אלו המוטמעות תוך שימוש ב- Google Analytics, AdSense ו/או Doubleclick וגם שימוש בכלים של חברת Facebook.
למידע נוסף על השימוש ב- Cookies באמצעות צדדים שלישיים תוכל לפנות לכתובות:
  www.google.com/policies/technologies/types;  https://www.google.com/policies/privacy ; www.facebook.com/policies/cookies
במידה ותרצה להסיר עצמך מהשימוש בכלים אלו או דומים, תוכל לפנות לאחת מהכתובות שלהלן: http://www.aboutads.info/choices או- http://www.youronlinechoices.eu/‎ ולהסיר את עצמך מהשירותים הנבחרים.
אם אינך מעוניין לקבל או להפעיל את ה"קוקיס", תוכל לחסום אותם בכל עת על ידי שינוי ההגדרות בדפדפן שלך. חלק מקובצי הקוקיס עשויים לפקוע כאשר תסגור את הדפדפן או את היישום בו אתה משתמש, וייתכן שאחרים יישמרו על גבי הזיכרון במכשירך או במחשבך. בכל עת, באפשרותך למחוק את קובצי הקוקיס, גם אם נשמרו אצלך. מוצע לעשות כן רק אם אתה משוכנע שאינך רוצה שהאתר, התכנים המופיעים בו והשירותים המוצעים דרכו יותאמו להעדפותיך.
בהסכמתך לתנאי מדיניות פרטיות זו, אתה מסכים/ה לשימוש בטכנולוגיות המתוארות ובטכנולוגיות אחרות, כפי שיהיו מעת לעת, למטרות דומות, לרבות שימוש במידע שייאגר באמצעותן לצורך זיהוי ו/או אפיון שלך על-פיהן. במידה שאינך מסכים, אנא עדכן את הגדרות מכשירך או הדפדפן שלך לפי העדפותייך כאמור לעיל.
החברה מקפידה שלא להעביר מידע אישי מזהה אודותיך לצדדים שלישיים, אלא רק בהתקיים אחד או יותר מהמקרים הבאים:
בעת ביצוע פעולות מסוימות במסגרת השירותים, המצריכות העברת מידע גם לספקי שירות נדרשים להשלמת הפעולות ו/או הוצאתן אל הפועל , ולצדדים הקשורים באותן פעולות – דוגמת חברת שליחויות, חברת סליקת אשראי, חברה המספקת שירותי ניתוח מידע, וכיוצא באלו. בכפוף לשמירה על חובות הפרטיות ואבטחת מידע כנדרש על פי הדין .המידע הספציפי לצורך ההתקשרות המסוימת בין מבקש השירות לנותן השירות יישמר אצל החברה. לחברה אין אחריות באשר לנושא זה ולנושאים הקשורים בהעברת המידע ולא תתכן תלונת הצדדים כלפיה, אלא כנדרש לפי דין..
במקרה של מחלוקת משפטית בינך לבין החברה שתחייב את חשיפת פרטיך ו/או אם תבצע פעולות שבניגוד לדין באתר ו/או במקרה בו יתקבל צו שיפוטי המורה על כך.
לשם עריכת ניתוחים סטטיסטיים והעברת מידע סטטיסטי או אחר לצדדים שלישיים. מידע כאמור לא יאפשר זיהוי אישי שלך.
במקרה בו ימצא כי הפרת את אחד או יותר מתנאי שירות אלו ו/או במקרים בהם תבצע או תנסה לבצע פעולות המנוגדות לתנאי השימוש או הוראת כל דין.
על-פי צו שיפוטי או דרישת רשות מוסמכת על-פי חוק או לצורך מניעת ביצוע עבירה;
בכל מקרה בו תסבור החברה כי מסירת המידע נחוצה על מנת למנוע נזק חמור לרכושו ו/או לגופו של אדם, או על מנת למנוע נזק חמור אחר לפי שיקול דעתה הבלעדי.
במקרה בו החברה תימכר, תעביר ו/או תמזג את פעילותה עם תאגיד אחר, ובלבד שמקבל המידע החדש, יקבל על עצמו את הוראות תנאי שימוש אלו במלואן.
החברה עשויה למסור מידע סטטיסטי לצדדים שלישיים, לרבות מפרסמים, וזאת בכפוף לתנאי מדיניות פרטיות זו. מידע סטטיסטי שיימסר לצדדים שלישיים לא יזהה אותך באופן אישי.
אין באמור לעיל בכדי לגרוע מזכות החברה להעביר לצדדים שלישים מידע שאינו אישי, אשר אין בו בכדי לזהות אותך בשמך ו/או בפרטי זהותך באופן ישיר.
על-פי חוק הגנת הפרטיות, התשמ"א-1981, הינך, או מי מטעמך מיופה כוחך, רשאי לעיין במידע אודותיך אשר מצוי במאגר החברה ואף לבקש מאיתנו לתקן מידע זה אם אינו נכון, שלם או מדויק ואף למחוק אותו במקרים מתאימים. כדי לממש זכות זו, יש לשלוח בקשה אל החברה באמצעות דף יצירת הקשר באתר או באמצעות אחד מפרטי הקשר המפורטים בתחתית מסמך זה.
אחריות לתוכן האתר וזמינותו
האתר, לרבות כל תוכן ו/או שירות הזמינים דרכו, מונגשים עבורך על-ידי החברה כפי שהם ובכפוף לזמינותם ('As Is' ו- 'As Available'). למרות שהחברה נוקטת בכל המאמצים כדי להציג באתר או דרכו מידע מדויק ומהימן ככל שניתן, החברה אינה ולא תהא אחראית, במישרין או בעקיפין, לזמינות, אמיתות, מהימנות ו/או מידת הדיוק של התוכן המופיע באתר, והסתמכות על כל תוכן המוצג באתר או דרכו הינה באחריותך המלאה.  ניתן לפנות אל החברה בבקשה למחיקת החשבון וכמו כן ניתן לבקש מחיקת מידע פרטי בהתאם להוראות החוק והגבלותיו בדוא"ל support@theorigin.co.il או בטלפון: 054-5631523. טרם מחיקת החשבון יש לוודא כי אין הזמנות ו/או החלפות ו/או החזרות פעילות וכי לא קיים בחשבון/באתר קרדיט לניצול. יובהר כי, רק לאחר ניצול יתרת הקרדיט העומד לרשותך לרכישה באתר ו/או אישור כי הטיפול בכל ההזמנות ו/או ההחלפות ו/או ההחזרות הסתיים בהצלחה, ניתן יהיה למחוק את החשבון באופן סופי. יודגש כי, עם מחיקת החשבון, תימחק היסטוריית הרכישות באתר לרבות פרטי ההזמנות שבוצעו עובר למחיקת החשבון. לפיכך, הינך נדרשת טרם אישור המחיקה, לשמור את פרטי ההזמנות שבוצעו על ידך ככל שתרצי לפנות לחברה בעניינן בעתיד. בנוסף, עם מחיקת החשבון, כתובת המייל איתה נרשמת לאתר, תוסר באופן אוטומטי מרשימת הדיוור, ככל וניתן לחברה אישור דיוור.  
הנך רשאי להשתמש באתר ובתוכן הזמין דרכו למטרות פרטיות ואישיות בלבד. תוכן האתר אינו מעניק לך כל זכות מלבד אלו המפורטות במדיניות זו, המהווה הסכם לכל דבר ועניין בינך לבין החברה.
תוכן האתר אינו יכול לשמש בסיס לצורך קבלת החלטות כספיות, משפטיות, אישיות ו/או אחרות מצידך. כל פעולה שנעשית על-ידך בהתבסס על תוכן זה נעשית לפי שיקול דעתך הבלעדי ובאחריותך בלבד.
מוצרים, תיאורים, עיצוב, צבעים או חזות של מוצרים ושירותים המתוארים או מוצגים באתר, הינם להמחשה בלבד, על מנת לדמות למשתמש את המוצר המבוקש בצורה הקרובה והטובה ביותר. אם זיהית פער משמעותי בין נראות המוצר המבוקש בפועל לבין המוצר המופיע דרך האתר, אנא פנה אלינו כדי שנפעל לתקנו, לפי שיקול דעתה הבלעדי של החברה. בכל מקרה, החברה לא תהא אחראית בקשר עם אף מוצר ו/או מתכון ו/או המלצות שפורטו או יוצגו באתר ואבמצעותו.
האתר עשוי לפרסם ולפרט מודעות דרושים ומשרות פנויות בחברה, בעמודים הייעודיים לכך. אין במודעות אלו או בתוכנן כדי להתחייב או להביא לקבלתו של מי מהפונים לעבודה או המתעניינים במשרה בחברה, או לגרוע או לשנות מהליכי מיון אחרים העשויים להתבצע על-ידי החברה. מודעות דרושים והצעות משרה מופנות בכל מקרה לשני המינים,  וזאת אף אם לא צוין זאת במפורש בגוף המודעה.
s אתר החברה משתמש ב"עוגיות" )Cookies )לצורך תפעולם השוטף והתקין, ובכלל זה כדי לאסוף נתונים סטטיסטיים אודות השימוש באתר, לאימות פרטים, כדי להתאים את האתר להעדפותיך האישיות ולצורכי אבטחת מידע. דפדפנים מודרניים כוללים אפשרות להימנע מקבלת Cookies .אם אינך יודע כיצד לעשות זאת, בדוק בקובץ העזרה של הדפדפן שבו אתה משתמש.
המשתמש יהיה זכאי לעיין במידע המוחזק לגביו במאגר המידע של החברה.
אבטחת מידע
החברה עושה כל שביכולתה ונעזרת באמצעי אבטחה טכנולוגיים וארגוניים מתקדמים כדי לאבטח את האתר ואת דרכי התקשורת דרכו ואת המידע המצוי בשליטתה, כנגד ניצול מקרי או מכוון, אובדן, הרס או כנגד גישה על ידי אנשים בלתי מוסמכים או מורשים.
על אף האמור, החברה אינה יכולה להבטיח את אבטחת המידע ושמירתו באופן מוחלט ואינה מתחייבת שהאתר או השימוש דרכו יהיו חסינים לגמרי מפני גישה בלתי מורשית למידע או לתוכן המאוחסן בו. לפי-כך, מובהר בזאת כי החברה לא תהא אחראית ולא תישא בכל אחריות במקרה של חדירה או פריצה ו/או נזק כלשהוא שנגרם בשל השימוש באתר ו/או בתוכן המוצג בו ו/או בשירותים הנלווים לו, על-ידי המשתמש באתר או מי מטעמו.
קניין רוחני ושימושים אסורים באתר
האתר והתוכן המופיעים בו, לרבות, מבלי לגרוע מכלליות האמור: סימני מסחר, עיצוב האתר, גרפיקה, לוגואים, שרטוטים, נתונים, דגמים, עיצובים, איורים, מוסיקה, צילומים, תמונות, מפות, קטעי אודיו, קטעי וידאו, טקסט, גרפיקה וכיוצ"ב (להלן :"המידע(" מוגנים על-ידי דיני זכויות יוצרים של מדינת ישראל, אמנות בינ"ל וחוקי זכויות יוצרים של מדינות אחרות ובכל מקרה שייכים  לחברה או לצדדים שלישיים אחרים. שימוש במידע, ללא הסכמה מפורשת מראש ובכתב מהחברה, הינו אסור בהחלט ויהווה הפרת זכויותיה של החברה על-ידך.
כמו כן, אלא אם צוין או סומן אחרת במפורש, החברה הינה הבעלים בכל הזכויות הקשורות בתוכן המצוי באתר, לרבות מלל, תמונות, גרפיקה, קבצי קול, קבצי אנימציה, קבצי וידאו ואופן ארגונם באתר. אין להשתמש, להעתיק, לשכפל, לשחזר, לעבד, להפיץ, להציג או לפרסם תוכן מהאתר או לעשות בו כל שימוש לצרכים מסחריים או פרטיים, על-ידך או על-ידי אחר מטעמך, ללא הסכמה מפורשת מראש ובכתב מהחברה.
השם החברה, על כל נגזרותיו ומותגיו, כמו גם שמות האתרים המקושרים לאתר זה, וכן שמות הדומיין של האתר/ים, הינם סימני מסחר מוגנים של החברה ובבעלותה המלאה והבלעדית. אין בעצם הכניסה לאתר כדי להעניק רישיון ו/או זכות כלשהם בהם. 
חל איסור מוחלט להעתיק ו/או לשכפל ו/או להפיץ ו/או למכור ו/או לפרסם ו/או להציג בכל מדיה ו/או להשתמש במידע ו/או לעשות כל פעולה ו/או שימוש, לרבות שימוש עצמי ו/או מסחרי, במישרין או בעקיפין, וכל האמור למעט אם החברה התירה זאת במפורש בכתב ומראש.
המשתמש מתחייב שלא לבצע ולא לנסות לבצע שינוי כלשהו באתר ו/או העתקה ו/או הורדה של חומר האגור באתר לרבות בדרך של: "Peep-Link", "Robot" ,"PageScrape" ,"Spider" ו/או כל שיטה אחרת, אלגוריתם או תהליך ידני דומה, ולא להוריד או להעתיק ו/או להעביר לאחר חומר שאגור באתר החנות שאינו מיועד להורדה ו/או העברה ו/או לא לנסות לקבל גישה לעסקאות שבוצעו על ידי אחרים באמצעים כלשהם ו/או לא לבצע פעולה כלשהי העלולה לפגוע בקניינן הרוחני של החברה, לפגוע בפרטיות משתמשות אחרות ו/או לשנות מידע באתר ו/או להזיק לאתר ו/או למשתמשות בו.
כל זכויות הקניין הרוחני (וזאת בין אם המדובר בזכויות רשומות ובין אם המדובר בזכויות שטרם נרשמו ו/או בהליכי רישום), בקשר למידע ו/או לאתר, לרבות, מבלי לגרוע מכלליות האמור: זכויות יוצרים, שם המתחם ("Domain"), פטנטים, סימני המסחר מדגמים, זכויות יוצרים, סודות מסחריים, עיצובים, סימני מסחר, Know How, שיטות, אופן הצגתו ועיצובו של האתר וכן כל עניין או פרט הקשורים באתר, הם רכושה הבלעדי של החברה ו/או החברה הנה בעלת רישיון השימוש בהם, והשימוש בכל הזכויות האמורות מותר לה באופן בלעדי ו/או בהתאם לתנאי הרישיון שניתנו לה.
ללא קבלת הרשאה מפורשת, כתובה מראש מהחברה, אינך רשאי לבצע את הפעולות ו/או את המעשים הבאים:
שימוש מסחרי באתר ו/או בתוכנו ו/או שימוש באתר ו/או תוכנו לשם יצירת מאגר מידע ו/או לקט;
להעתיק, לשחזר, לשנות, לעבד, לתרגם, לבצע הנדסה חוזרת, להפיץ, לשדר, להציג, לבצע, לשכפל, לפרסם ולאחסן את תוכן האתר, כולו או חלקו;
להפעיל או לאפשר הפעלת כל יישום מחשב או כל אמצעי אחר, לרבות תוכנות מסוגCrawlers, Robots וכדומה, לשם חיפוש, סריקה, העתקה או אחזור אוטומטי של תוכן האתר;
להציג תוכן מהאתר בתוך מסגרת (iframe) גלויה או סמויה או להציג את תוכן האתר בכל דרך שהיא, המשנים את עיצובם המקורי באתר ו/או המחסירים דבר כלשהוא;
לשבש או להפר כל זכות של משתמש אחר באתר ו/או לפגוע בכבודו או בפרטיותו של משתמש אחר ו/או כל פגיעה אחרת;
אי עמידה במגבלות אלו עלולה להוביל למניעת גישתך לאתר ואף לחשוף אותך לאחריות אזרחית ו/או פלילית על-פי כל דין.
שונות
תנאי שימוש אלו (או איזו מההוראות בהם) אינם יוצרים ולא יפורשו כיוצרים כל שותפות, מיזם משותף, יחסי עובד מעביד, סוכן או שלוח בינך לבין החברה או מי מטעמה בשום אופן.
על השימוש באתר ו/או כל תביעה, דרישה ו/או בקשה הנובעים משימוש זה יחולו דיני מדינת ישראל בלבד ומקום השיפוט יהיה בבית המשפט בתל-אביב, והדין המהותי והפרוצדוראלי יהיה הדין הישראלי, זאת בכפוף לזכותהחברה לנקוט בהליכים משפטיים בבתי המשפט בהם מצויים כתובת המשתמש ו/או מקום עסקו ו/או נכסיו או חלק מהם לשיקול החברה.
אם תנאי מתנאי השימוש ימצא בלתי חוקי, בטל או בלתי אכיף מכל סיבה, תנאי זה ימחק מתנאי השימוש ומחיקתו לא תשפיע על חוקיות ותקפות תנאי השימוש הנותרים.
מסמך זה מנוסח בלשון זכר מטעמי נוחות בלבד אך מתייחס לגברים ונשים כאחד.
יצירת קשר
בכל מקרה של שאלה ו/או בקשה ו/או בקשה למחיקת חשבון ו/או תגובה בנוגע למדיניות זו, יש לפנות אל שירות הלקוחות של החברה בדוא"ל support@theorigin.co.il , בטלפון: 054-5631523 .
    </div>
</div>