.about-us-wrapper {
    background-color: #E6E3DE;
    padding: 24px;
}
.about-us-title {
    font-family: 'Assistant', sans-serif;
    font-size: 20px;
    line-height: 25px;
    font-weight: 700;
    color: #555555;
    text-align: right;
    margin-bottom: 16px;
}

.about-us-content {
    font-family: 'Assistant', sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #1C201D;
    text-align: right;
}

.about-us-image {
    width: 100%;
    height: auto;
    margin-top: 16px
}

.about-us-image img {
    width: 100%;
    height: auto;
    margin-top: 16px;
}

@media screen and (min-width: 768px) {
    .about-us-wrapper {
        max-width: 990px;
        margin: 0 auto;
        border-radius: 16px;
        padding: 24px;
        margin-bottom: 24px;
    }

    .about-us-image {
        max-width: 80%;
        margin: 0 auto;
    }

    .about-us-image img {
        border-radius: 16px;
    }
}