.totals {
  /* display: flex; */
  justify-content: space-between;
  align-items: flex-end;
}

.totals > * {
  font-size: 1.6rem;
  margin: 0;
}

.totals > h2 {
  /* font-size: calc(var(--font-heading-scale) * 1.6rem); */
    font-family: 'Noto Sans', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 700;
    color: #1C201D;
    text-align: right;
}

.totals .totals__total-value span {
  display: inline-block;
  width: 180px;
}

@media all and (min-width: 769px) {
  .totals .totals__total-value span {
    width: 220px;
  }
}

.totals * {
  line-height: 1;
}

.totals > * + * {
  margin-left: 2rem;
}

.totals__total {
  margin-top: .5rem;
}

.totals__total-value {
  /* font-size: 1.8rem; */
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
  color: #1C201D;
  text-align: right;

  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.totals-value-secondary {
  /* color: #C4C0BC; */
  font-size: 16px;
  font-weight: 400;
  padding: 5px 0 5px 0;
}

.totals-value-primary {
  margin-top: 8px;
}

.totals-value-secondary-value {
  text-align: left;
  direction: ltr;
  /* padding-left: 16px; */
}

.cart__ctas + .totals {
  margin-top: 2rem;
}

@media all and (min-width: 750px) {
  .totals {
    justify-content: flex-end;
  }

  .totals-value-secondary-value {
    padding-left: 16px;
  }
}
