.card-wrapper {
  color: inherit;
  height: auto;
  position: relative;
  text-decoration: none;
}

.card {
  text-decoration: none;
  text-align: var(--text-alignment);
}

.card:not(.ratio) {
  display: flex;
  flex-direction: row-reverse;
  height: 190px;
  background-color: #F5F4F2;
  overflow-y: hidden;
  border-radius: 8px;
  /* height: 312px; */
  align-items: flex-start;
  /* padding: 24px 0; */
}

@media screen and (min-width: 749px) {
  .card:not(.ratio) {
    height: 220px;
    /* padding: 12px; */
  }

  .card.article-card {
    height: 250px;
  }
}

.card.card--horizontal {
  --text-alignment: left;
  --image-padding: 0rem;
  flex-direction: row;
  align-items: flex-start;
  gap: 1.5rem;
}

.card--horizontal.ratio:before {
  padding-bottom: 0;
}

.card--card.card--horizontal {
  padding: 1.2rem;
}

.card--card.card--horizontal.card--text {
  column-gap: 0;
}

.card--card {
  height: 100%;
}

.card--card,
.card--standard .card__inner {
  position: relative;
  box-sizing: border-box;
  border-radius: var(--border-radius);
  border: var(--border-width) solid rgba(var(--color-foreground), var(--border-opacity));
  /* padding: 24px 0; */
  width: 40%;
  height: 100%;
}

.card--card,
.card--standard .card__inner.blog-article-card-inner {
  width: 100%;
}

.product-card-wrapper-item {
  display: flex;
  flex-direction: row-reverse;
  gap: 16px;
  height: 257px;
}

.card--card:after,
.card--standard .card__inner:after {
  content: '';
  position: absolute;
  z-index: -1;
  width: calc(var(--border-width) * 2 + 100%);
  height: calc(var(--border-width) * 2 + 100%);
  top: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity));
}

/* Needed for gradient continuity with or without animation, the transform scopes the gradient to its container which happens already when animation are turned on */
.card--card.gradient,
.card__inner.gradient {
  transform: perspective(0);
}

/* Needed for gradient continuity with or without animation so that transparent PNG images come up as we would expect */
.card__inner.color-scheme-1 {
  background: transparent;
}

.card .card__inner .card__media {
  overflow: hidden;
  /* Fix for Safari border bug on hover */
  z-index: 0;
  border-radius: calc(var(--border-radius) - var(--border-width) - var(--image-padding));
  /* margin-bottom: 72px; */
  height: 100%;
}

.card--card .card__inner .card__media {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.card--standard.card--text {
  background-color: transparent;
}

.card-information {
  text-align: var(--text-alignment);
}

.card__media,
.card .media {
  bottom: 0;
  position: absolute;
  top: 0;
}

.card .media {
  width: 100%;
}

.card__media {
  margin: var(--image-padding);
  width: calc(100% - 2 * var(--image-padding));
}

.card--standard .card__media {
  margin: var(--image-padding);
}

.card__inner {
  width: 100%;
}

.card--media .card__inner .card__content {
  position: relative;
  padding: calc(var(--image-padding) + 1rem);
  display: none;
}

.card__content {
  /* display: grid; */
  /* Ido */
  /* grid-template-rows: minmax(0, 1fr) max-content minmax(0, 1fr); */
  padding: 1rem;
  width: 60%;
  flex-grow: 1;
}

.card__content--auto-margins {
  grid-template-rows: minmax(0, auto) max-content minmax(0, auto);
}

.card__information {
  grid-row-start: 2;
}

.card:not(.ratio)>.card__content {
  grid-template-rows: max-content minmax(0, 1fr) max-content auto;
}

.card-information .card__information-volume-pricing-note {
  margin-top: 0.6rem;
  line-height: calc(0.5 + 0.4 / var(--font-body-scale));
  color: rgba(var(--color-foreground), 0.75);
}

.card__information-volume-pricing-note--button,
.card__information-volume-pricing-note--button.quantity-popover__info-button--icon-with-label {
  position: relative;
  z-index: 1;
  cursor: pointer;
  padding: 0;
  margin: 0;
  text-align: var(--text-alignment);
  min-width: auto;
}

.card__information-volume-pricing-note--button:hover {
  text-decoration: underline;
}

.card__information-volume-pricing-note--button+.global-settings-popup.quantity-popover__info {
  transform: initial;
  top: auto;
  bottom: 4rem;
  max-width: 20rem;
  width: calc(95% + 2rem);
}

.card__information-volume-pricing-note--button+.global-settings-popup.quantity-popover__info span:first-of-type {
  padding-right: 0.3rem;
}

.card__information-volume-pricing-note--button-right+.global-settings-popup.quantity-popover__info {
  right: 0;
  left: auto;
}

.card__information-volume-pricing-note--button-center+.global-settings-popup.quantity-popover__info {
  left: 50%;
  transform: translate(-50%);
}

.card__information-volume-pricing-note--button+.global-settings-popup.quantity-popover__info .quantity__rules {
  text-align: left;
}

@media screen and (min-width: 990px) {
  .grid--6-col-desktop .card__content quick-add-bulk .quantity {
    width: auto;
  }

  .grid--6-col-desktop .card__content quick-add-bulk .quantity__button {
    width: calc(3rem / var(--font-body-scale));
  }

  .grid--6-col-desktop .card__information-volume-pricing-note--button+.global-settings-popup.quantity-popover__info {
    left: 50%;
    transform: translate(-50%);
    width: calc(100% + var(--border-width) + 3.5rem);
  }

  .grid--6-col-desktop .card--standard .card__information-volume-pricing-note--button+.global-settings-popup.quantity-popover__info {
    width: calc(100% + var(--border-width) + 1rem);
  }
}

@media screen and (max-width: 749px) {
  .grid--2-col-tablet-down .card__content quick-add-bulk .quantity__button {
    width: calc(3.5rem / var(--font-body-scale));
  }

  .grid--2-col-tablet-down .card--card .card__information-volume-pricing-note--button+.global-settings-popup.quantity-popover__info,
  .grid--2-col-tablet-down .card--standard .card__information-volume-pricing-note--button+.global-settings-popup.quantity-popover__info {
    left: 50%;
    transform: translate(-50%);
  }

  .grid--2-col-tablet-down .card--standard .card__information-volume-pricing-note--button+.global-settings-popup.quantity-popover__info {
    width: 100%;
  }

  .grid--2-col-tablet-down .card--card .card__information-volume-pricing-note--button+.global-settings-popup.quantity-popover__info {
    width: calc(100% + var(--border-width) + 4rem);
  }

  .grid--2-col-tablet-down .card__content quick-add-bulk .quantity {
    width: auto;
  }
}

.card-information quantity-popover volume-pricing {
  margin-top: 0;
}

@media screen and (max-width: 989px) {
  .card-information quantity-popover .quantity__rules~volume-pricing {
    margin-top: 0;
  }

  .card-information quantity-popover volume-pricing {
    margin-top: 4.2rem;
  }
}

@media screen and (min-width: 750px) {
  .card__information {
    padding-bottom: 1.7rem;
    /* padding-top: 1.7rem; */
  }
}

/* Ido */
/* .card__badge {
  align-self: flex-end;
  grid-row-start: 3;
  justify-self: flex-start;
  /* Ido */
/* display: none; */
/* } */

.card__badge-wrapper {
  display: flex;
  align-items: center;
  /* Aligns the badge and taste wrapper vertically */
  gap: 0.5rem;
  /* Adds spacing between the elements */
  justify-content: end;
}

.card__badge {
  display: inline-block;
}

/* .product-taste-wrapper {
  display: inline-block;
  margin-left: 0.5rem; /* Adjust the spacing if needed */
/* } */
*/ .card__badge.top {
  align-self: flex-start;
  grid-row-start: 1;
}

.card__badge.right {
  justify-self: flex-end;
}

.card:not(.card--horizontal)>.card__content>.card__badge {
  margin: 1.3rem;
}

.card__media .media img {
  height: 100%;
  object-fit: contain;
  object-position: center center;
  width: 100%;
  /* padding: 0 24px; */
}

.card__inner:not(.ratio)>.card__content {
  height: 100%;
}

.card__heading {
  margin-top: 0;
  font-size: 18px;
  font-weight: 700;
  line-height: 25px;
  /* margin-bottom: 0; */
}

.product-tastes-list-product-cart {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #555555;
  text-align: right;
  margin-bottom: 18px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 4;
  /* limit to 4 lines */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: normal;
  overflow-wrap: anywhere;
}

.product-tastes-list-product-cart.three_lines {
  -webkit-line-clamp: 3;
}

.main-collention-price-wrapper {
  width: 50%;
}

.main-collection-add-to-cart-wrapper {
  width: 42%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.main-collection-cart-bottom-wrapper {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  justify-content: space-between;
  width: 100%;
  /* margin-top: 12px; */
}

.add-to-cart-catalogue-btn {
  padding: 6px 10px;
  border-radius: 60px;
  border: 1px solid #55555580;
  font-family: 'Assistant', sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #1C201D;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  gap: 4px;
  cursor: pointer;
  width: 120px;
  height: 32px;
  box-sizing: border-box;
}

@media screen and (max-width: 360px) {
  .add-to-cart-catalogue-btn {
    gap: 0;
    padding: 6px 7px;
  }
}

.add-to-cart-catalog-img {
  width: 21px;
  height: 21px;
  margin-left: 4px;
}

.card__heading:last-child {
  margin-bottom: 0;
}

.card--horizontal .card__heading,
.card--horizontal .price__container .price-item,
.card--horizontal__quick-add {
  font-size: calc(var(--font-heading-scale) * 1.2rem);
}

.card--horizontal .card-information>*:not(.visually-hidden:first-child)+*:not(.rating):not(.card__information-volume-pricing-note) {
  margin-top: 0;
}

.card--horizontal__quick-add:before {
  box-shadow: none;
}

@media only screen and (min-width: 750px) {

  .card--horizontal .card__heading,
  .card--horizontal .price__container .price-item,
  .card--horizontal__quick-add {
    font-size: calc(var(--font-heading-scale) * 1.3rem);
  }
}

.card--card.card--media>.card__content {
  margin-top: calc(0rem - var(--image-padding));
}

.card--standard.card--text a::after,
.card--card .card__heading a::after {
  bottom: calc(var(--border-width) * -1);
  left: calc(var(--border-width) * -1);
  right: calc(var(--border-width) * -1);
  top: calc(var(--border-width) * -1);
}

.card__heading a::after {
  bottom: 0;
  content: '';
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.card__heading a:after {
  outline-offset: 0.3rem;
}

.card__heading a:focus:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.card__heading a:focus-visible:after {
  box-shadow: 0 0 0 0.3rem rgb(var(--color-background)), 0 0 0.5rem 0.4rem rgba(var(--color-foreground), 0.3);
  outline: 0.2rem solid rgba(var(--color-foreground), 0.5);
}

.card__heading a:focus:not(:focus-visible):after {
  box-shadow: none;
  outline: 0;
}

.card__heading a:focus {
  box-shadow: none;
  outline: 0;
}

@media screen and (min-width: 990px) {

  .card .media.media--hover-effect>img:only-child,
  .card-wrapper .media.media--hover-effect>img:only-child {
    transition: transform var(--duration-long) ease;
  }

  .card:hover .media.media--hover-effect>img:first-child:only-child,
  .card-wrapper:hover .media.media--hover-effect>img:first-child:only-child {
    transform: scale(1.03);
  }

  .card-wrapper:hover .media.media--hover-effect>img:first-child:not(:only-child) {
    opacity: 0;
  }

  .card-wrapper:hover .media.media--hover-effect>img+img {
    opacity: 1;
    transition: transform var(--duration-long) ease;
    transform: scale(1.03);
  }

  .underline-links-hover:hover a {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
  }
}

.card--standard.card--media .card__inner .card__information,
.card--standard.card--text:not(.card--horizontal)>.card__content .card__heading:not(.card__heading--placeholder),
.card--standard:not(.card--horizontal)>.card__content .card__badge,
.card--standard.card--text.article-card>.card__content .card__information,
.card--standard>.card__content .card__caption {
  display: none;
}

.card--standard:not(.card--horizontal) .placeholder-svg {
  width: 100%;
}

.card--standard>.card__content {
  padding: 0;
  height: 100%;
  /* width: 100%; */
}

.card--standard>.card__content .card__information {
  display: flex;
  align-items: start;
  justify-content: center;
  flex-direction: column;
  /* gap: 20px; */
  /* padding-left: 0;
  padding-right: 0; */
}

.card__information-top {
  font-family: 'Assistant', sans-serif;
  font-size: 18px;
  line-height: 25px;
  font-weight: 700;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  /* width: 100%; */
  /* gap: 40px; */
}

.card__information-vendor-name {
  font-size: 14px;
}

.card--card.card--media .card__inner .card__information,
.card--card.card--text .card__inner,
.card--card.card--media>.card__content .card__badge {
  display: none;
}

.card--horizontal .card__badge,
.card--horizontal.card--text .card__inner {
  display: none;
}

.card--extend-height {
  height: 100%;
}

.card--extend-height.card--standard.card--text,
.card--extend-height.card--media {
  display: flex;
  flex-direction: column;
}

.card--extend-height.card--standard.card--text .card__inner,
.card--extend-height.card--media .card__inner {
  flex-grow: 1;
}

.card .icon-wrap {
  margin-left: 0.8rem;
  white-space: nowrap;
  transition: transform var(--duration-short) ease;
  overflow: hidden;
}

.card-information>*+* {
  margin-top: 0.5rem;
}

.card-information {
  width: 100%;
}

.card-information>* {
  line-height: calc(1 + 0.4 / var(--font-body-scale));
  color: rgb(var(--color-foreground));
}

.card-information>.price {
  color: rgb(var(--color-foreground));
}

.card--horizontal .card-information>.price {
  color: rgba(var(--color-foreground), 0.75);
}

.card-information>.rating {
  margin-top: 0.4rem;
}

/* Specificity needed due to the changes below */
.card-information>*:not(.visually-hidden:first-child)+quantity-popover:not(.rating):not(.card__information-volume-pricing-note),
.card-information .card__information-volume-pricing-note.card__information-volume-pricing-note--button {
  margin-top: 0;
}

.card-information>*:not(.visually-hidden:first-child)+*:not(.rating):not(.card__information-volume-pricing-note) {
  margin-top: 0.7rem;
}

.card-information .caption {
  letter-spacing: 0.07rem;
}

.card-article-info {
  margin-top: 1rem;
}

/* Card Shapes */

.card--shape .card__content {
  padding-top: 0;
}

.card--shape.card--standard:not(.card--text) .card__inner {
  border: 0;
  /* Border is not currently compatible with image shapes for standard cards. */
  background-color: transparent;
  filter: drop-shadow(var(--shadow-horizontal-offset) var(--shadow-vertical-offset) var(--shadow-blur-radius) rgba(var(--color-shadow), var(--shadow-opacity)));
}

.card--shape.card--standard:not(.card--text) .card__inner:after {
  display: none;
}

.grid__item:nth-child(2n) .shape--blob {
  clip-path: polygon(var(--shape--blob-2));
}

.grid__item:nth-child(3n) .shape--blob {
  clip-path: polygon(var(--shape--blob-3));
}

.grid__item:nth-child(4n) .shape--blob {
  clip-path: polygon(var(--shape--blob-4));
}

.grid__item:nth-child(5n) .shape--blob {
  clip-path: polygon(var(--shape--blob-5));
}

.grid__item:nth-child(7n) .shape--blob {
  clip-path: polygon(var(--shape--blob-6));
}

.grid__item:nth-child(8n) .shape--blob {
  clip-path: polygon(var(--shape--blob-1));
}

/* Card Shape Hover Rules */

@media (prefers-reduced-motion: no-preference) {
  .product-card-wrapper .shape--round {
    transition: clip-path var(--duration-long) ease;
  }

  .product-card-wrapper:hover .shape--round {
    clip-path: ellipse(47% 47% at 50% 50%);
  }

  .product-card-wrapper .shape--blob {
    transition: clip-path var(--duration-long) ease-in-out;
  }

  .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-5));
  }

  .grid__item:nth-child(2n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-6));
  }

  .grid__item:nth-child(3n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-1));
  }

  .grid__item:nth-child(4n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-2));
  }

  .grid__item:nth-child(5n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-3));
  }

  .grid__item:nth-child(7n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-4));
  }

  .grid__item:nth-child(8n) .product-card-wrapper:hover .shape--blob {
    clip-path: polygon(var(--shape--blob-5));
  }
}

@media (max-width: 768px) {
  .card--standard>.card__content {
    /* padding: 0 24px; */
    /* width: 100%; */
    height: 100%;
    /* padding-right: 32px; */
  }
}

.cart-items-actions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

/* .shipping-progress-bar {
  width: 100%;
  height: 6px;
  background-color: #E3E0DA;
  border-radius: 24px;
} */

.shipping-progress-bar-track {
  width: 36px;
  height: 36px;
  position: absolute;
  right: calc(var(--progress) - 36px);
  /* left: calc(100% - var(--progress)); */
  top: -12px;
  transform: translateY(-50%);
  /* transform: translateX(50%) translateY(-50%); */
  z-index: 1;
  transition: right 1s ease-in-out;
}

.shipping-progress-bar {
  width: 80%;
  height: 6px;
  background-color: #E3E0DA;
  border-radius: 24px;
  position: relative;
  /* position: fixed;
  z-index: 9999; */

}

.shipping-progress-bar::before {
  content: '';
  position: absolute;
  right: 0;
  top: 0;
  height: 6px;
  width: var(--progress);
  background-color: #AD7B7E;
  border-radius: 24px;
  transition: width 1s ease-in-out;
}

.shipping-progress-bar-free {
  width: 80%;
  height: 6px;
  background-color: #AD7B7E;
  border-radius: 24px;
  /* position: fixed;
  z-index: 9999; */
}

.free-shipping-notice-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2px;
  flex-direction: column;
  position: fixed;
  width: 100%;
  background-color: #F5F4F2;
  z-index: 9999;
  padding-bottom: 12px;
  /* gap: 4px; */
}

.free-shipping-cart-icon {
  width: 32px;
  height: 32px;
  /* margin-bottom: 8px; */
}

.free-shipping-cart-icon-wrapper {
  position: relative;
}

.cart-badge {
  position: absolute;
  top: 5px;
  right: -8px;
  background-color: #D60540;
  color: white;
  border-radius: 50%;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}

.cart-info-new-tag {
  width: 54px;
  height: 24px;
  padding: 2px 8px;
  background-color: #43C7B4;
  color: #1C201D;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  line-height: 16px;
  font-weight: 600;
  /* display: block; */
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  box-shadow: 0 2px 8px rgba(30, 41, 59, 0.2);
}

.cart-info-new-tag.deal {
  background-color: #FFA15C;
}

.cart-info-new-tag.new-product {
  background-color: #F8F2D6;
}

.cart-info-new-tag.recommended {
  background-color: #38ead0;
}

.cart-info-title-wrapper {
  display: flex;
  align-items: center;
  gap: 8px;
  /* padding: 0 8px; */
}

.cart-info-sub-title-wrapper {
  font-family: 'Assistant', sans-serif;
  font-size: 14px;
  line-height: 25px;
  font-weight: 400;
  color: #989BA3;
  text-align: right;
  /* margin-bottom: 12px; */
}