/* .footer_main_page_top {
    width: 100%;
} */

.main-footer-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 48px;
}

.main-footer-info-wrapper {
    background-color: #B5888B;
    display: flex;
    align-items: center;
    justify-self: center;
    flex-direction: column;
    width: 100%;
    margin-top: -1px;
}

.main-footer-info-divider {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    position: relative;
}

.main-footer-info-divider-line {
    width: 60%;
    border: 1px solid #FBFCFE;
    position: relative;
    margin: 2rem 0;
}

.main-footer-info-divider-img {
    position: absolute;
    /* background-color: #FBFCFE; Matches background to "cut" the line */
    padding: 0 10px;
    /* Ensures space around the image */
    height: 52px;
}

.main-footer-info-about-us {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    width: 100%;
    padding: 16px 24px;
    color: #FBFCFE;
}

.main-footer-info-shop-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 24px;
    width: 100%;
    padding: 16px 24px;
    gap: 8px;
}

.main-footer-info-shop-img {
    width: 48px;
    height: 48px;
}

.main-footer-info-shop-title {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    width: 100%;
    color: #FBFCFE;
}

h2.main-footer-info-shop-title {
    margin: 0;
}

.main-footer-info-shop-description {
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    text-align: center;
    width: 100%;
    color: #FBFCFE;
}

.main-footer-info-shop-btn {
    width: 342px;
    height: 59px;
    border-radius: 15px;
    padding: 16px 80px;
    background-color: #FBFCFE;
    cursor: pointer;
    color: #333634;
    font-family: 'Noto Sans', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    margin: 48px 0;
}

@media screen and (min-width: 768px) {
    .main-footer-info-shop-wrap-flex {
        display: flex;
        flex-wrap: wrap;
        gap: 32px 24px;
        /* row gap, column gap */
        justify-content: center;
    }

    .main-footer-info-shop-wrapper {
        flex: 1 1 40%;
        min-width: 260px;
        max-width: 400px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-basis: calc(50% - 24px);
    }

    .main-footer-info-wrapper {
        padding-top: 40px;
    }
}