.more-questions-wrapper {
    width: 100%;
    /* height: 200px; */
    background-color: #FAFCFE;
    padding: 32px 16px;
}

.more-questions-title {
    font-family: noto-sans, sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    color: #1C201D;
    width: 100%;
    text-align: right;
    text-transform: uppercase;
    margin-bottom: 24px;
}

.more-questions-question {
    font-family: noto-sans, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #1C201D;
    width: 100%;
    text-align: right;
    margin-bottom: 40px;
    text-decoration: underline;
    cursor: pointer;
}

.more-questions-answer {
    font-family: noto-sans, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #1C201D;
    width: 100%;
    text-align: right;
    margin-bottom: 24px;
    display: none;
}

.more-question-whatsapp {
    width: 32px;
    height: 32px;
    margin-left: 8px;
}

.go-to-page-top-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
    margin-bottom: 32px;
    cursor: pointer;
    flex-direction: column;
}

.go-to-page-top-arrow {
    height: 16px;
    width: 9px;
}

.go-to-page-top-text {
    font-family: noto-sans, sans-serif;
    font-size: 16px;
    line-height: 25px;
    font-weight: 400;
    color: #1C201D;
    text-decoration: underline;
}