.related-products {
  display: block;
}

.related-products__heading {
  /* margin: 0 0 3rem; */
}

.product-recommendations-component {
  padding-right: 24px;
  display: block;
  position: relative;
  margin-bottom: 24px;
}

.recently-viewed-products-component {
  padding-right: 24px;
  display: block;
  position: relative;
  margin-bottom: 24px;
}

@media screen and (min-width: 750px) {
  .product-recommendations-component {
    padding-right: 0;
  }

  .recently-viewed-products-component {
    padding-right: 0;
  }
}