{%- layout none -%}
{% comment %}
  This template renders a single product card for recently viewed products via AJAX.
  It expects a product handle to be passed as a query parameter (e.g., ?product_handle=my-product-handle).
{% endcomment %}

{%- assign product_handle = request.query_parameters.product_handle -%}

{% if product_handle != blank %}
  {%- assign product = all_products[product_handle] -%}
  {% if product != blank %}
    {%- liquid
      assign media_aspect_ratio = request.query_parameters.image_ratio | default: 'adapt'
      assign image_shape = request.query_parameters.image_shape | default: 'default'
      assign show_secondary_image = request.query_parameters.show_secondary_image == 'true' ? true : false
      assign show_vendor = request.query_parameters.show_vendor == 'true' ? true : false
      assign show_rating = request.query_parameters.show_rating == 'true' ? true : false
      assign section_id = request.query_parameters.section_id | default: 'recently-viewed-products'
      assign show_mobile_slider = request.query_parameters.show_mobile_slider == 'true' ? true : false
      assign enable_desktop_slider = request.query_parameters.enable_desktop_slider == 'true' ? true : false
    -%}

    <li class="grid__item{% if show_mobile_slider or enable_desktop_slider %} slider__slide{% endif %}{% if settings.animations_reveal_on_scroll %} scroll-trigger animate--slide-in{% endif %}">
      {% render 'card-product'
        , card_product: product
        , media_aspect_ratio: media_aspect_ratio
        , image_shape: image_shape
        , show_secondary_image: show_secondary_image
        , show_vendor: show_vendor
        , show_rating: show_rating
        , skip_styles: true
        , section_id: section_id
        , not_catalog: true
      %}
      <hr class="card-product-divider" />
      <div class="price-product-wrapper">{% render 'price', product: product, use_variant: true %}</div>
    </li>
  {% endif %}
{% endif %}